body {
    font-family: 'Open Sans';
    color: #165916;
    background-color: #e1e8ef;
}
a {
    text-decoration: none;
}
th, td {
    white-space: nowrap;
    text-align: center;
}
#sidebarImage {
    position: absolute;
    left: 0px;
    padding: 0px;
    max-width: 200px;
}
.datePickerLabel {
    padding-right: 5px;
}
.datePickerIcon {
    color: #165916;
    background-color: #e1e8ef;
}
.border_left {
    border-left: 2px solid;
}
.center-text {
    text-align: center;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
}
.hidden {
    display: none;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.spinner-grow {
    margin-bottom: 10px;
}
#main-content {
    font-size: 13px;
}
#rightBody {
    position: relative;
    z-index: 1;
}
#sidebar {
    position: fixed;
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    z-index: 2;
    background: #165916;
    color: #E8E8E8;
    /* transition: all 0.3s; */
}
#sidebar.collapsed {
    min-width: 70px;
    max-width: 70px;
}
#sidebarCollapse, #sidebarCollapsed {
    position: fixed;
    bottom: 10px;
    color: #165916;
    background-color: #E8E8E8;
}
.buttonText {
    margin-left: 10px;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 20px;
    padding-bottom: 10px;
    background: #165916;
}
#partialSidebarHeader {
    padding: 5px;
}
#sidebar ul.components {
    padding: 20px 0;
    border-top: 1px solid #e1e8ef;
    border-bottom: 1px solid #e1e8ef;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #165916;
    background: #e1e8ef;
    border-left: 3px solid #165916;
    border-right: 3px solid #165916;
}
#sidebar ul li.active {
    color: #165916;
    background: #e1e8ef;
    border-left: 3px solid #165916;
    border-right: 3px solid #165916;
}
#spinner {
    width: 5rem;
    height: 5rem;
    animation-duration: 1s;
}