<!DOCTYPE html>
<html>

<head>
   <title>Beat the Streak Advisor</title>
</head>

<body>
   <head>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.dataTables.min.css">
      <style>
         .border_left {
            border-left: 2px solid;
         }
      </style>
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>
      <script>

         $(document).ready(function () {

            var image = function (data, type, row) {
               return '<img src="https://securea.mlb.com/mlb/images/players/head_shot/' + data + '.jpg" width="40"/>'
            }

            var percentFunc = function (data, type, row) {
               if (data === '') {
                  return data;
               } else {
                  return (data * 100).toFixed(2).toString() + '%';
               }
            }

            var roundFunc = function (data, type, row) {
               if (data === '') {
                  return data;
               } else {
                  return data.toFixed(2).toString();
               }
            }

            var playerLinkFunc = function(id, name) {
               return '<a href="https://www.mlb.com/player/' + id + '" target="_blank" style="text-decoration:none; color:#0076CE">' + name + '</a>';
            }

            var batterLinkFunc = function (data, type, row) {
               return playerLinkFunc(row.player_id, data);
            }

            var pitcherLinkFunc = function (data, type, row) {
               return playerLinkFunc(row.pitcher_id, data);
            }

            var gameLinkFunc = function (data, type, row) {
               return '<a href="https://www.mlb.com/gameday/' + row.game_pk + '" target="_blank" style="text-decoration:none; color:#0076CE">' + data + '</a>';
            }

            var last_x_days = 7;

            var cols = [
               {
                  data: 'player_name',
                  title: 'Name',
                  render: batterLinkFunc
               }, {
                  data: 'team',
                  title: 'Team'
               }, {
                  data: 'batter_handedness',
                  title: 'B'
               }, {
                  data: 'H_total',
                  title: 'H',
                  className: 'border_left'
               }, {
                  data: 'xH_per_G_total',
                  title: 'xH / G',
                  render: roundFunc
               }, {
                  data: 'hit_pct_total',
                  title: 'HitPct',
                  render: percentFunc
               }, {
                  data: 'x_hit_pct_total',
                  title: 'xHitPct',
                  render: percentFunc
               }, {
                  data: 'H_' + last_x_days,
                  title: 'H (' + last_x_days + ')',
                  className: 'border_left'
               }, {
                  data: 'xH_per_G_' + last_x_days,
                  title: 'xH / G (' + last_x_days + ')',
                  render: roundFunc
               }, {
                  data: 'hit_pct_' + last_x_days,
                  title: 'HitPct (' + last_x_days + ')',
                  render: percentFunc
               }, {
                  data: 'x_hit_pct_' + last_x_days,
                  title: 'xHitPct (' + last_x_days + ')',
                  render: percentFunc
               }, {
                  data: 'opponent',
                  title: 'Opponent',
                  render: gameLinkFunc,
                  className: 'border_left'
               }, {
                  data: 'pitcher_name',
                  title: 'Starter',
                  render: pitcherLinkFunc
               }, {
                  data: 'sp_xHA_per_BF_interval',
                  title: 'SP: xHA / PA (Q1, Med., Q3)'
               }, {
                  data: 'bp_xHA_per_BF_interval',
                  title: 'RP: xHA / PA (Q1, Med., Q3)'
               }
            ]

            $('table.display').DataTable({
               ajax: {
                  url: '/loadTableData?hitMin=15&days=' + last_x_days
               },
               columns: cols,
               order: [[ 5, 'desc']],
               scrollX: true,
               paging: false,
               scrollY: '75vh',
               scrollCollapse: true,
               autoWidth: false,
               fixedColumns: {
                  leftColumns: 3
               },
               dom: '<"toolbar">frtip',
               initComplete: function(oSettings, json) {
                  $('th, td').css('white-space', 'nowrap'); // Don't wrap table headers
                  $('th, td').css('text-align', 'center'); // Center text

                  var toolbarHtml = '<div style="float: left;">';
                     toolbarHtml += '   <p>Most recent statcast data: ';
                     toolbarHtml += '      <span style="color: red;">' + json.lastUpdated + '</span>';
                     toolbarHtml += '   </p>';
                     toolbarHtml += '</div>';

                  $('div.toolbar').html(toolbarHtml);
               },
               rowCallback: function(row, data, index) {
                  Object.keys(data).forEach(function(key, colIndex) {
                     if (data[key + '_color']) {
                        colDisplayIndex = cols.findIndex(item => item.data === key)
                        $(row).find('td:eq(' + colDisplayIndex + ')').css('background-color', data[key + '_color']);
                     }
                  });
               }
            })
         });

      </script>
   </head>
   <div style="margin: 0 auto; width: 200px;">
      <h3>
         <a href="https://bts-web.mlb.com/mlb/fantasy/bts/y2021/index.jsp#t=picks" target="_blank" style="text-decoration:none; color:#0076CE">Beat the Streak Advisor</a>
      </h3>
   </div>
   <div style="margin: 0% 3%;">
      <table class="display"></table>
   </div>
</body>

</html>