<!DOCTYPE html>
<html>
   
   <head>
      <title id="title">Beat the Streak Advisor</title>
   </head>

   <body>
      <head>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
         <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.dataTables.min.css"> -->
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
         <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
         <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
         <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
         <script type="text/javascript" charset="utf8" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
         <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script> -->
         <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
         <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
         <script type="text/javascript"                src="{{url_for('static', filename='js/advisor.js')}}"></script>
         <script type="text/javascript"                src="{{url_for('static', filename='js/pick_history.js')}}"></script>
      </head>

      <div class="container-fluid">
         <div class="row">
            <div class="col-4">
               <p>Date: <input type="text" id="datepicker"></p>
            </div>
            <div class="col-4" style="text-align: center;">
               <h4>
                  <a id="headerLink" class="text-primary" href="https://bts-web.mlb.com/mlb/fantasy/bts/y2021/index.jsp#t=picks" target="_blank" style="text-decoration:none;">Beat the Streak Advisor</a>
               </h4>
            </div>
         </div>
         <div class="row">
            <div id="spinnerDiv" class="d-flex flex-column align-items-center justify-content-center">
               <div class="row">
                  <div class="spinner-border text-primary" role="status"></div>
               </div>
               <div class="row">
                  <strong id="loadingText" class="text-primary"></strong>
               </div>
            </div>
         </div>
         <div id="main-content" class="row justify-content-around">
            <div class="col-xl-6">
               <div id="advisorDiv">
                  <table class="display" id="advisor"></table>
               </div>
               <div id="historyDiv">
                  <table class="display" id="history"></table>
               </div>
            </div>
            <div class="col-xl-4">
               <div id="selectedDiv">
                  <div class="row">
                     <div class="col">
                        <img id="selectedImage" src="" width="100px"/>
                     </div>
                     <div class="col">
                        <h5 id="selectedName"></h5>
                     </div>
                  </div>
                  <div class="row">
                     <table class="display" id="gameLogs"></table>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
   </body>
</html>