<!DOCTYPE html>
<html>
   <head>
      <title id="title">Beat the Streak Hub</title>
      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
      <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.dataTables.min.css"> -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">

      <!-- JS -->
      <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
      <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script> -->
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
      <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='js/hubFunctions.js')}}"></script>
      <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='js/sidebar.js')}}"></script>
      <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='js/content.js')}}"></script>

      <!-- Font Awesome JS -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
   </head>

   <body>
      <div class="wrapper">
         <nav id="sidebar" {% if collapse_sidebar %} class="collapsed" {% endif %}>
            <div id="fullSidebarHeader" class="sidebar-header text-center {% if collapse_sidebar %} hidden {% endif %}">
               <h3>Beat the Streak Hub</h3>
            </div>
            <div id="partialSidebarHeader" class="text-center {% if not collapse_sidebar %} hidden {% endif %}">
               <h3>BTS Hub</h3>
            </div>

            <ul id="sidebarTabs" class="list-unstyled components">
               {{ sidebar_links_html|safe }}
            </ul>
            <div class="container-fluid">
               <img src="{{url_for('static', filename='img/rogers_centre.jpeg')}}" id="sidebarImage" {% if collapse_sidebar %} class="hidden" {% endif %}>
               <button type="button" id="sidebarCollapse" class="btn btn-secondary {% if collapse_sidebar %} hidden {% endif %}">
                  <i class="fas fa-angle-double-left"></i>
                  <span class="buttonText">Collapse Sidebar</span>
               </button>
               <button type="button" id="sidebarCollapsed" class="btn btn-secondary {% if not collapse_sidebar %} hidden {% endif %}" title="Expand Sidebar">
                  <i class="fas fa-angle-double-right"></i>
               </button>
            </div>
         </nav>
         <div id="rightBody" class="container-fluid">
            <div id="spinnerDiv" class="row vertical-center">
               <div class="d-flex flex-column align-items-center">
                  <div class="row">
                     <div id="spinner" class="spinner-grow" role="status"></div>
                  </div>
                  <div class="row">
                     <strong id="loadingText">
                        {{ loading_text|safe }}
                     </strong>
                  </div>
               </div>
            </div>
            <div id="content" class="hidden">
            </div>
         </div>
      </div>
   </body>
</html>